testing.ipynb
*.trees
*.txt
*.vcf
*.vcf.gz
*.bed
*.
*.vcf.gz.tbi
*.fas
*.fas.fai
*.fasta
*.fasta.fai
*.fq
*.aln
*.lfmm
*.env
*.geno
*.bim
*.fam
*.ld
*.prune.in
*.prune.out
*.nosex
*.xls
*.csv
*.gz
*.gz.tbi
/snakemake/crispresso-machine/
/optima_files/
*.snakemake/
*.err
*.log
.Rproj.user
/results/
/slurm-logs/
.vscode/settings.json
/profiles/slurm/__pycache__/
/to_transfer/
